@import '../node_modules/rickshaw/src/css/graph.css';
@import '../node_modules/rickshaw/src/css/detail.css';
@import '../node_modules/rickshaw/src/css/legend.css';

:host {
  display: flex;
  flex-direction: column;
  #display {
    flex: 1;
  }
  ::content {
    series {
      display: none;
    }
    xaxis {
      display: flex;
      align-content: center;
      justify-content: space-around;
    }
  }
}
